body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #22262a;
}

#Editor {
    cursor: crosshair;
}

a.button {
    background: #778899;
    color: #fff;
    padding: 15px;
    border-radius: 4px;
    text-decoration: none;
    font-family: Tahoma;
    font-size: 20px;
}

a.button:hover, a.button:focus {
  background-color: #2980B9;
}

.img1 {
    width: 25px;
    position: relative;
    bottom: -5px;
    left: -5px;
}

.img2 {
    width: 15px;
    position: relative;
    bottom: -2px;
    left: -10px;
}

.TopPanel {
    margin: 20px;
    text-align: center;
}

.BottomPanel {
    margin: 30px;
}

.Coord-x {
    font-size: 11px;
    font-family: Tahoma;
    color: #cccccc;
    position: relative;
    bottom: 32px;
    left: 0px;
}

.Coord-y {
    font-size: 11px;
    font-family: Tahoma;
    color: #cccccc;
    position: relative;
    bottom: 56px;
    left: 60px;
}

.Stat {
    font-size: 12px;
    font-family: Tahoma;
    color: #cccccc;
    position: relative;
    bottom: 81px;
    left: 1550px;
}

.dropbtn {
    background: #778899;
    color: #fff;
    padding: 15px;
    border-radius: 4px;
    text-decoration: none;
    font-family: Tahoma;
    font-size: 20px;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ADD8E6;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
    font-family: Tahoma;
}

.dropdown-content a:hover {
    background-color: #2980B9
}

.show {
    display:block;
}
