body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #22262a;
}

#Editor {
    cursor: crosshair;
    position: relative;
    top: -115px;
}

a.button {
    background: #47525d;
    color: #cccccc;
    padding: 5px;
    border-radius: 4px;
    text-decoration: none;
    font-family: Tahoma;
    font-size: 15px;
}

.themeButton {
    background: #cccccc;
    color: #47525d;
    padding: 5px;
    border-radius: 4px;
    text-decoration: none;
    font-family: Tahoma;
    font-size: 15px;
}

a.button:hover, a.button:focus {
  background-color: #3f464f;
}

.LeftPanel {
    position: relative;
    top: -5px;
    text-align: left;
}

.CenterPanel {
    position: relative;
    top: -40px;
    text-align: center;
}

.RightPanel {
    position: relative;
    top: -110px;
    text-align: right;
}

.Img {
    width: 12px;
    position: relative;
    bottom: -2px;
    left: 0px;
}

.Img2 {
    width: 50px;
    position: relative;
    bottom: -4px;
    left: 0px;
}

.TopPanel {
    margin: 20px;
}

.BottomPanel {
    margin: 30px;
}

.Coord-x {
    font-size: 11px;
    font-family: Tahoma;
    color: #cccccc;
    position: relative;
    bottom: 146px;
    left: 0px;
}

.Coord-y {
    font-size: 11px;
    font-family: Tahoma;
    color: #cccccc;
    position: relative;
    bottom: 170px;
    left: 60px;
}

.Stat {
    font-size: 12px;
    font-family: Tahoma;
    color: #cccccc;
    position: relative;
    bottom: 195px;
    left: 1550px;
}

.dropbtn {
    background: #47525d; /*#f9ae58*/
    color: #cccccc; /*#22262a*/
    padding: 4px;
    border-radius: 4px;
    text-decoration: none;
    font-family: Tahoma;
    font-size: 15px;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3f464f;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position:absolute;
    top: -60px;
    left: 835px;
    background-color: #cccccc;
    min-width: 80px;
    z-index: 1;
}

.dropdown-content a {
    color: #22262a;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
    font-family: Tahoma;
}

.dropdown-content a:hover {
    background-color: #f9ae58;
}

.show {
    display:block;
}
