<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>MyCAD</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{% static "style.css" %}">
        <script type="text/javascript">var csrf_token = '{{ csrf_token }}';</script>
        <script type="text/javascript">var url = '{{ url }}';</script>
    </head>
    <body>
        <div class="TopPanel">
          <p class="LeftPanel">
            <a class="button" onclick="myfunc()">
              <img class="Img" src="{% static "undo.png" %}"></a>
            <a class="button" onclick="myfunc()">
              <img class="Img" src="{% static "redo.png" %}"></a>
          </p>
          <p class="CenterPanel">
            <a class="button" onclick="myfunc()">Line</a>
            <a class="button" onclick="myfunc()">Clear</a>
            <a class="dropbtn" onclick="myButtonMenuFunc()">Snap to</a>
            <div class="dropdown">
              <div id="myDropdown" class="dropdown-content">
                <a onclick="myfunc()">Node</a>
                <a onclick="myfunc()">Angle</a>
              </div>
            </div>
          </p>
          <p class="RightPanel">
            <a class="button" onclick="myfunc()">
              <img class="Img" src="{% static "nodes.png" %}"></a>
            <a class="button" onclick="myfunc()">
              <img class="Img2" src="{% static "thickness.png" %}"></a>
            <a class="themeButton" onclick="myfunc()">Light</a>
          </p>
        </div>
        <canvas id="Editor" width="500" height="500">Canvas is not supported</canvas>
        <div class="BottomPanel">
          <p class="Coord-x">X: 1.23</p>
          <p class="Coord-y">Y: 0.56</p>
          <p class="Stat">Objects: 278</p>
        </div>
        <script id="shader-fs" type="x-shader/x-fragment">
          precision mediump float;
          varying vec3 fragColor;
          void main(void) {
            gl_FragColor = vec4(fragColor, 1.0);
          }
        </script>
        <script id="shader-vs" type="x-shader/x-vertex">
          attribute vec3 aVertexPosition;
          attribute vec3 aVertexColor;
          varying vec3 fragColor;
          void main(void) {
            fragColor = aVertexColor;
            gl_Position = vec4(aVertexPosition, 1.0);
            gl_PointSize = 10.0;
          }
        </script>
        <script src="{% static "script.js" %}"></script>
    </body>
</html>
